name: Build caddy-desec

on:
  push:
    paths:
      - caddy-desec/Dockerfile
  schedule:
    - cron: "0 4 * * 1"
  workflow_dispatch:

env:
  IMAGE: ghcr.io/tinnet/caddy-desec

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: caddy-desec
          push: true
          tags: |
            ${{ env.IMAGE }}:latest
